FormWebServices/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="tbalumno">
        <s:complexType />
      </s:element>
      <s:element name="tbalumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tbalumnoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAlumnoResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nuevoNombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAlumnoResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAlumnoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="tbalumnoSoapIn">
    <wsdl:part name="parameters" element="tns:tbalumno" />
  </wsdl:message>
  <wsdl:message name="tbalumnoSoapOut">
    <wsdl:part name="parameters" element="tns:tbalumnoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAlumno" />
  </wsdl:message>
  <wsdl:message name="InsertAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAlumno" />
  </wsdl:message>
  <wsdl:message name="UpdateAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAlumno" />
  </wsdl:message>
  <wsdl:message name="DeleteAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAlumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="tbalumno">
      <wsdl:input message="tns:tbalumnoSoapIn" />
      <wsdl:output message="tns:tbalumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAlumno">
      <wsdl:input message="tns:InsertAlumnoSoapIn" />
      <wsdl:output message="tns:InsertAlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAlumno">
      <wsdl:input message="tns:UpdateAlumnoSoapIn" />
      <wsdl:output message="tns:UpdateAlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAlumno">
      <wsdl:input message="tns:DeleteAlumnoSoapIn" />
      <wsdl:output message="tns:DeleteAlumnoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="tbalumno">
      <soap:operation soapAction="http://tempuri.org/tbalumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAlumno">
      <soap:operation soapAction="http://tempuri.org/InsertAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAlumno">
      <soap:operation soapAction="http://tempuri.org/UpdateAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAlumno">
      <soap:operation soapAction="http://tempuri.org/DeleteAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="tbalumno">
      <soap12:operation soapAction="http://tempuri.org/tbalumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAlumno">
      <soap12:operation soapAction="http://tempuri.org/InsertAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAlumno">
      <soap12:operation soapAction="http://tempuri.org/UpdateAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAlumno">
      <soap12:operation soapAction="http://tempuri.org/DeleteAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44398/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44398/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>